* {
	box-sizing: border-box;
}
html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.parent-container{
	position: relative;
}

.drag-area
{
	position: absolute;
	background-color: lightpink;
	background-size: cover;
	transform-origin: top left;
}
.drag-area .draggable-element {
	position: absolute;
	will-change: transform, width, height;
}
