* {
	box-sizing: border-box;
}
html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.drag-area {
	position: relative;
}

.drag-area .background {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.drag-area .draggable-element {
	position: absolute;
}
